@import "../../assets/styles/variables.scss";
@import "../../assets//styles/mixin.scss";

.breadCrumb-container {
  width: 100%;
  padding: 2% 5%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  .breadcrumb-not-active {
    font-size: 18px;
    color: $black;
    text-decoration: none;
    font-weight: 500;
  }
  .breadcrumb-active {
    font-size: 18px;
    color: $lightGreen;
    text-decoration: none;
    font-weight: 500;
  }

  .breadcrumb-arrow {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  .breadCrumb-container {
    .breadcrumb-not-active {
      font-size: 14px;
    }
    .breadcrumb-active {
      font-size: 14px;
    }
    .breadcrumb-arrow {
      margin: none;
    }
  }
}
