@import "../../../../assets/styles/variables.scss";

.ratingDetails-container {
  display: flex;
  align-items: center;
  gap: 20px;
  .ratingAmount {
    display: flex;
    align-items: center;
    gap: 5px;
    .star {
      color: #ffa439;
    }
  }
  .ratingImg{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .ratingScores{
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  .ratingDetails-container {
    display: flex;
    align-items: center;
    gap: 10px;
    img{
      width: 200px;
      height: 8px;
      border-radius: 9px;
    }
  }
}
