@import "../../../assets/styles/variables.scss";

.searchTitle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  .showingProd-amounts {
    h1 {
      font-size: 24px;
      color: $black;
    }
    p {
      margin-top: 10px;
      font-size: 16px;
      color: $iconGrey;
    }
  }
  .sortBy-cont {
    display: flex;
    align-items: center;
    gap: 20px;
    .sortLeftDiv {
        display: flex;
        align-items: center;
        gap: 10px;
      span {
        font-size: 16px;
        color: $iconGrey;
      }
      select {
        cursor: pointer;
        padding: 14px;
        outline: none;
        border-color: $borderGrey;
        border-radius: 8px;
        color: black;
        font-weight: 500;
        font-size: 14px;
        .option {
          padding: 10px;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }

    .sortRightDiv {
      display: flex;
      align-items: center;
      gap: 10px;
      .filterIcon {
        display: none;
      }
      .borderRight {
        display: none;
      }
      .gridIcon {
        border: 1px solid $darkGreen;
        border-radius: 8px;
        width: 46px;
        height: 46px;
        padding: 5px;
        background-color: $darkGreen;
        color: white;
        cursor: pointer;
      }
      .hamburgIcon {
        border: 1px solid $borderGrey;
        border-radius: 8px;
        width: 46px;
        height: 46px;
        padding: 5px;
        background-color: white;
        color: $black;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .searchTitle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .showingProd-amounts {
      h1 {
        font-size: 18px;
      }
      p {
        margin-top: 10px;
        font-size: 14px;
      }
    }
    .sortBy-cont {
        gap: 40px;
        margin-top: 10px;
      .sortLeftDiv{
         span {
        font-size: 14px;
        display: none;
      }
      select {
        padding: 10px;
      }
      }
     
      .sortRightDiv {
        .filterIcon {
          display: block;
          border: 1px solid $borderGrey;
          border-radius: 8px;
          padding: 8px;
        }
        .borderRight {
          display: block;
          border: 1px solid $borderGrey;
          height: 28px;
        }
        .gridIcon {
          width: 38px;
          height: 38px;
          padding: 4px;
        }
        .hamburgIcon {
          width: 38px;
          height: 38px;
          padding: 4px;
        }
      }
    }
  }
}
