@import '../../../assets/styles/variables.scss';
.featuredCategory-container{
    padding: 3% 5% 1% 5%;

    .features-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .features-footer{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-decoration: none;
    }
    .iconSize{
        width: 42px;
        height: 50px;
    }
}