@import "../../../assets/styles/variables.scss";
.featuredCategory-container {
  padding: 4% 5%;
  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: var(--dark-green-01, #1e4c2f);
    border-radius: var(--swiper-scrollbar-border-radius, 10px);
    left: 0;
    top: 0;
  }
  .features-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .swiperCont {
    margin-top: 10px;
    .features-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .link {
        text-decoration: none;
      }
    }
    .iconSize {
      width: 42px;
      height: 50px;
    }
    .swiperScrol {
      padding: 30px 0;
    }
  }
}

@media only screen and (max-width: 450px) {
  .featuredCategory-container {
    padding: 4% 5%;
    .swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
      display: none;
    }
    .swiper-scrollbar-drag {
      height: 100%;
      width: 100%;
      position: relative;
      background: var(--dark-green-01, #1e4c2f);
      border-radius: var(--swiper-scrollbar-border-radius, 10px);
      left: 0;
      top: 0;
    }
    .features-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      h1 {
        font-size: 18px;
      }
      .buttonStyle {
        width: 96px;
        height: 32px;
        padding: 10px;
        font-size: 14px;
      }
    }
    .swiperCont {
      margin-top: 10px;
      .swiperCont2 {
        display: block;
      }
      .features-footer {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        
        .link {
          text-decoration: none;
        }
      }
      .iconSize {
        width: 42px;
        height: 50px;
      }
      .swiperScrol {
        padding: 30px 0;
      }
    }
  }
}
