@import "../../assets/styles/variables.scss";

.productCard-container {
  border: 0, 1px solid transparent;
  background-color: white;
  border-radius: 8px;
  .prodCardCont {
    width: 280px;
    height: 400px;
  }
  .popProdContext {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }

  .popProdImage {
    background-color: $prodBackGrey;
    border-radius: 8px;
    position: relative;
    text-align: center;
    padding: 10% 0;
    img {
      width: 180px;
      height: 180px;
    }
    .heartIcon {
      .heart {
        color: $black;
        width: 43px;
        height: 43px;
        position: absolute;
        border: 1px solid white;
        background-color: white;
        border-radius: 100%;
        padding: 8px;
        right: 10px;
      }
    }
  }
  .prodName-owner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .popProdName {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .popProdOwner {
      p {
        font-size: 16px;
        color: $iconGrey;
      }
    }
    .prodName {
      font-size: 18px;
      color: $black;
    }
    .prodAmount {
      font-size: 18px;
      color: $lightGreen;
    }
  }
  .popProdFooter {
    display: flex;
    align-items: center;
    gap: 6px;
    .prodStar {
      color: #ffa439;
    }
    .prodDot {
      color: #e4e9ee;
    }
    p {
      font-size: 16px;
      color: $black;
    }
  }
}

@media only screen and (max-width: 450px) {
  .productCard-container {
    border: 0, 1px solid transparent;
    background-color: white;
    border-radius: 8px;
    .prodCardCont {
      width: 156px;
      height: 244px;
    }
    .popProdContext {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      gap: 10px;
    }

    .popProdImage {
      background-color: $prodBackGrey;
      border-radius: 8px;
      position: relative;
      text-align: center;
      padding: 10% 0;
      img {
        width: 100px;
        height: 100px;
      }
      .heartIcon {
        .heart {
          color: $black;
          width: 30px;
          height: 30px;
          position: absolute;
          border: 1px solid white;
          background-color: white;
          border-radius: 100%;
          padding: 4px;
          right: 10px;
        }
      }
    }
    .prodName-owner {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .popProdName {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .popProdOwner {
        p {
          font-size: 12px;
          color: $iconGrey;
        }
      }
      .prodName {
        font-size: 14px;
        color: $black;
      }
      .prodAmount {
        font-size: 14px;
        color: $lightGreen;
      }
    }
    .popProdFooter {
      display: flex;
      align-items: center;
      gap: 6px;
      .prodStar {
        color: #ffa439;
      }
      .prodDot {
        color: #e4e9ee;
      }
      p {
        font-size: 12px;
        color: $black;
      }
    }
  }
}
