@import "../../assets/styles/variables.scss";

.relatedProduct-container {
  padding: 2% 5%;
  .relatedProduct-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttonsStyle {
      width: 130px;
      height: 40px;
      border-radius: 8px;
      border: 1px solid $darkGreen;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      gap: 10px;
    }
  }
  .productsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
    margin-top: 10px;
    text-decoration: none;
  }
}

@media only screen and (max-width: 450px) {
  .relatedProduct-container {
    padding: 2% 7%;
    margin-top: 30px;
    .relatedProduct-title{
      padding: 0 1%;
    }
    .productsList {
      display: grid;
      grid-gap: 5px 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
