* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Grotesk", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: transparent;
  *::-webkit-scrollbar {
    width: 3px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid green;
  }
}
body {
  width: 100%;
  button {
    cursor: pointer;
  }
  button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
