@import "../../assets/styles/variables.scss";

.footerFullCont {
  .footer-container {
    background-color: #f7f7f7;
    padding: 2% 5%;
    .footer-up {
      padding: 3% 0;
      display: flex;
      justify-content: space-between;
      
      .first-list {
        width: 30%;
        p {
          margin-top: 20px;
          font-size: 17px;
          line-height: 25.6px;
          color: $black;
        }
      }
      .footer-lists {
        display: flex;
        justify-content: space-between;
        width: 64%;
        ul {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        ul li {
          list-style: none;
          font-size: 15px;
          cursor: pointer;
          line-height: 18.6px;
        }
        ul li:first-child {
          font-weight: 600;
        }
        .borderFooter {
          border: 1px solid $borderGrey;
        }
      }
    }
  }
  .footer-down {
    padding: 2% 5%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 15px;
    }
    .termsOfUse {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}
