@import "../../assets/styles/variables.scss";
.header-container {
  padding: 1.5% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .input-nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f6f8fa;
    background-color: #f6f8fa;
    border-radius: 11px;
    padding: 4px 8px;
    .inputs {
      input {
        width: 300px;
        margin-left: 20px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 18px;
      }
      select {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 18px;
        option {
          outline: none;
          background-color: #f6f8fa;
        }
      }
    }
    .search {
      width: 30px;
      height: 30px;
      color: $iconGrey;
      cursor: pointer;
    }
    .search:hover {
      background-color: $borderGrey;
      border-radius: 100%;
      padding: 4px;
    }
  }
  .basket-user {
    display: flex;
    gap: 30px;
    align-items: center;
    .notification {
      color: $iconGrey;
      cursor: pointer;
    }
    .message {
      color: $iconGrey;
      cursor: pointer;
    }
    .basket {
      color: $iconGrey;
      cursor: pointer;
    }
    .borderHead {
      border: 1px solid $borderGrey;
      height: 28px;
    }
    .user {
      width: 48px;
      height: 48px;
      border: 1px solid $borderGrey;
      border-radius: 100%;
      padding: 10px;
      color: $iconGrey;
      cursor: pointer;
    }
    .userPhoto {
      width: 48px;
      height: 48px;
    }
  }
}
