@import "../../assets/styles/variables.scss";

.header-container {
  padding: 1.5% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .input-nav {
    width: 61%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f6f8fa;
    background-color: #f6f8fa;
    border-radius: 11px;
    padding: 4px 8px;
    .inputs {
      form {
        display: flex;
        align-items: center;
        gap: 20px;
        .borderRight {
          border: 1px solid $borderGrey;
          height: 23px;
        }
        input {
          width: 300px;
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 18px;
          font-weight: 500;
        }
        select {
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          font-size: 18px;
          font-weight: 500;
          option {
            outline: none;
            background-color: #f6f8fa;
          }
        }
      }
    }
    .search {
      width: 30px;
      height: 30px;
      color: $iconGrey;
      cursor: pointer;
    }
    .search:hover {
      background-color: $borderGrey;
      border-radius: 100%;
      padding: 4px;
    }
  }
  .basket-user {
    display: flex;
    gap: 30px;
    align-items: center;
    text-decoration: none;
    .notification {
      color: $iconGrey;
      cursor: pointer;
    }
    .message {
      color: $iconGrey;
      cursor: pointer;
    }
    .basket {
      color: $iconGrey;
      cursor: pointer;
      position: relative;
    }
    .productInCart {
      position: absolute;
      border: 2px solid white;
      border-radius: 100%;
      background-color: #e04124;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 12px;
      font-weight: 500;
      width: 20px;
      height: 20px;
      padding: 5px;
      margin-left: 13px;
      margin-bottom: 20px;
    }
    .borderHead {
      border: 1px solid $borderGrey;
      height: 28px;
    }
    .user {
      width: 48px;
      height: 48px;
      border: 1px solid $borderGrey;
      border-radius: 100%;
      padding: 10px;
      color: $iconGrey;
      cursor: pointer;
    }
    .userPhoto {
      width: 48px;
      height: 48px;
    }
  }
  .signUp {
    position: fixed;
    top: 7%;
    left: 35%;
    z-index: 10;
  }
}
