@import "../../../assets/styles/variables.scss";

.relevantProducts-container {
  width: 76%;
  padding: 2% 5% 3% 2%;
  .relevantProductList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-decoration: none;
  }
  .relevantProductPagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
    p {
      border: 1px solid $borderGrey;
      border-radius: 8px;
      font-weight: 500;
      padding: 12px 18px;
      color: $iconGrey;
      cursor: pointer;
    }
    p:hover {
      color: $lightGreen;
    }
    .rightArrow {
      color: $lightGreen;
      width: 30px;
      height: 30px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .relevantProducts-container {
    width: 100%;
    padding: 2% 5%;
    margin-bottom: 50px;
    margin-top: 30px;
    .relevantProductList {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      text-decoration: none;
    }
    .relevantProductPagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      margin-top: 30px;
      p {
        border: 1px solid $borderGrey;
        border-radius: 8px;
        font-weight: 500;
        padding: 12px 18px;
        color: $iconGrey;
        cursor: pointer;
      }
      p:hover {
        color: $lightGreen;
      }
      .rightArrow {
        color: $lightGreen;
        width: 30px;
        height: 30px;
      }
    }
  }
}
