@import "../../../assets/styles/variables.scss";

.productReviews-container {
    margin-left: -20px;
    .filter-list{
        display: flex;
    }
    .borderBottom{
        border: 1px solid $borderGrey;
    }
    .reviewsFilter-container{
        display: block;
    }
}
