@import '../../../../assets/styles/variables.scss';

.reviewComment-container{
display: flex;
flex-direction: column;
gap: 18px;
    .ratingStars{
        color: orange;
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .commentContext{
        display: flex;
        flex-direction: column;
        gap: 8px;
        h4{
            font-size: 18px;
        }
        p{
            color: $iconGrey;
        }
    }
    .user-likeDisslike{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .userInfos{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
            img{
                width: 40px;
                height: 40px;
            }
            p{
                font-size: 16px;
                font-weight: 500;
            }
        }
      .like-disslike{
        display: flex;
        align-items: center;
        gap: 10px;
        .likeButton{
            width: 22px;
            height: 22px;
        }
        .likeButton:hover{
            color: $lightGreen;
        }
        .disslikeButton{
            width: 22px;
            height: 22px;
        }
        .disslikeButton:hover{
            color: red;
        }
        button{
            padding: 12px;
            background-color: white;
            border: 1px solid $borderGrey;
            border-radius: 6px;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 15px;
        }
    }
    
    }
}